body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Container for displaying the login-form*/

.login-page {
    margin: auto;
    padding: 8% 0 0;
    width: 360px;
}

    .login-page button {
        /*JEL*/
        display: inline-block;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        line-height: 1.25;
        transition: all 0.2s ease-in-out;
        color: #20a8d8;
        background-color: transparent;
        background-image: none;
        border-color: #20a8d8;
        /*background: #A9A9A9;
        border: 0;
        color: #FFFFFF;*/
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        outline: 0;
        padding: 15px;
        text-transform: uppercase;
        width: 100%;
    }
    /*JEL*/
        .login-page button:hover {
            color: #fff;
            background-color: #20a8d8;
            border-color: #20a8d8;
            cursor: pointer;
        }

        .login-page form {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto 100px;
    max-width: 360px;
    padding: 45px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.login-page input {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0 0 15px;
    outline: 0;
    padding: 15px;
    width: 100%;
}