html, body { height: 100%; }

body {
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
    margin: 0;
}

.button {
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1.3em;
    padding: 1em 1.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
}

.tether-element.tether-theme-arrows-dark .tether-content {
    font-size: 1.1em;
    padding: 1em;
}

.tether-element.tether-theme-arrows-dark .tether-content .button {
    border-color: #fff;
    color: #fff;
    pointer-events: all;
    width: 170px;
}

.mobile-copy { display: none; }

@media (max-width: 568px) {
    .mobile-copy { display: block; }
}

.button.dark {
    background: #333;
    color: #fff;
}

.hero-wrap {
    height: 100%;
    overflow: hidden;
}

table.showcase {
    height: 100%;
    position: relative;
    width: 100%;
}

table.showcase:after {
    border-color: transparent;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-width: 18px;
    bottom: 20px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
}

table.showcase.no-next-arrow:after { display: none; }

table.showcase .showcase-inner {
    margin: 40px auto 60px;
    padding: 10px;
}

table.showcase .showcase-inner h1 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 567px) {
    table.showcase .showcase-inner h1 { font-size: 40px; }
}

table.showcase .showcase-inner h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 1em 0 1em;
    text-align: center;
}

@media (max-width: 567px) {
    table.showcase .showcase-inner h2 { font-size: 14px; }
}

table.showcase .showcase-inner p { text-align: center; }

table.showcase.hero { text-align: center; }

table.showcase.hero .tether-target-demo {
    border: 2px dotted #000;
    display: inline-block;
    *display: inline;
    margin: 5rem auto;
    padding: 5rem;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
}

@media (max-width: 567px) {
    table.showcase.hero .tether-target-demo { padding: 1rem; }
}

table.showcase.share { background: #f3f3f3; }

table.showcase.projects-showcase .showcase-inner .projects-list {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

table.showcase.projects-showcase .showcase-inner .projects-list .project {
    color: inherit;
    float: left;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

table.showcase.projects-showcase .showcase-inner .projects-list .project:nth-child(odd) { clear: left; }

table.showcase.projects-showcase .showcase-inner .projects-list .os-icon {
    background-size: 100%;
    height: 8rem;
    margin-bottom: 1rem;
    width: 8rem;
}

table.showcase.projects-showcase .showcase-inner .projects-list h1 { font-size: 2.5rem; }

table.showcase.projects-showcase .showcase-inner .projects-list p { font-size: 1.3rem; }

table.showcase.browser-demo {
    background-color: #9d223c;
    background-image: -webkit-linear-gradient(top left, #723362 0%, #9d223c 100%);
    background-image: linear-gradient(top left, #723362 0%, #9d223c 100%);
    position: absolute;
    top: 100%;
}

table.showcase.browser-demo.fixed {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

table.showcase.browser-demo.fixed .browser-demo-inner {
    -webkit-transition: width 2s ease-in-out, height 2s ease-in-out;
    transition: width 2s ease-in-out, height 2s ease-in-out;
}

table.showcase.browser-demo.fixed[data-section="what"] { box-shadow: 0 0 0 0; }

table.showcase.browser-demo.fixed[data-section="why"] .browser-demo-inner { width: 70%; }

table.showcase.browser-demo.fixed[data-section="outro"] .showcase-inner { pointer-events: all; }

table.showcase.browser-demo .showcase-inner {
    bottom: 120px;
    left: 10%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 40%;
    top: 220px;
}

@media (max-width: 567px) {
    table.showcase.browser-demo .showcase-inner {
        bottom: 90px;
        top: 180px;
    }
}

table.showcase.browser-demo .browser-demo-inner {
    height: 100%;
    width: 100%;
}

table.showcase.browser-demo .section-copy {
    -webkit-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    color: #fff;
    height: 200px;
    opacity: 0;
    position: absolute;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    width: 100%;
}

table.showcase.browser-demo .section-copy.active {
    opacity: 1;
    top: -150px;
}

@media (max-width: 567px) {
    table.showcase.browser-demo .section-copy.active { top: -130px; }
}

table.showcase.browser-demo .section-copy h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin: 25px 0 15px;
}

@media (max-width: 567px) {
    table.showcase.browser-demo .section-copy h2 { font-size: 30px; }
}

table.showcase.browser-demo .browser-window {
    background: #fff;
    border-radius: 4px;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
}

table.showcase.browser-demo .browser-window .browser-titlebar {
    border-bottom: 1px solid #eee;
    height: 55px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

table.showcase.browser-demo .browser-window .browser-titlebar .browser-dots { padding: 16px; }

table.showcase.browser-demo .browser-window .browser-titlebar .browser-dots b {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: inline-block;
    *display: inline;
    height: 10px;
    margin-right: 7px;
    vertical-align: middle;
    *vertical-align: auto;
    width: 10px;
    *zoom: 1;
}

table.showcase.browser-demo .browser-window .browser-frame {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 55px;
}

table.showcase.browser-demo .browser-window .browser-frame iframe {
    border: 0;
    border-radius: 0 0 4px 4px;
    height: 100%;
    width: 100%;
}

table.showcase.browser-demo-section .section-scroll-copy {
    color: #fff;
    font-size: 22px;
    position: relative;
    width: 100%;
    z-index: 10;
}

table.showcase.browser-demo-section .section-scroll-copy .section-scroll-copy-inner {
    color: #fff;
    position: absolute;
    right: 10%;
    width: 23%;
    z-index: 10;
}

table.showcase.browser-demo-section .section-scroll-copy .section-scroll-copy-inner a { color: inherit; }

table.showcase.browser-demo-section .section-scroll-copy .section-scroll-copy-inner .example-paragraph {
    background: #000;
    border-radius: 4px;
    padding: 1rem;
}

.browser-content { display: none; }