/* This is a compiled file, you should be editing the file in the templates directory */
.pace.pace-inactive { display: none; }

.pace {
    -moz-user-select: none;
    -webkit-pointer-events: none;

    -webkit-user-select: none;
    bottom: 0;
    height: 60px;

    left: 0;
    margin: auto;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    user-select: none;
    width: 100px;
    z-index: 2000;
}

.pace .pace-progress {
    -ms-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    height: 60px;
    position: absolute;

    transform: translate3d(0, 0, 0) !important;
    width: 100px;
    z-index: 2000;
}

.pace .pace-progress:before {
    background: #000000;
    border-radius: 50%;
    color: #fff;
    content: attr(data-progress-text);
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 100;
    height: 40%;
    line-height: 1;
    margin: 10px 0 0 30px;
    padding: 20% 0 7px;
    position: absolute;
    text-align: center;
    width: 50%;
    z-index: 999;
}

.pace .pace-activity {
    -moz-animation: pace-theme-center-atom-spin 2s linear infinite;
    -o-animation: pace-theme-center-atom-spin 2s linear infinite;
    -webkit-animation: pace-theme-center-atom-spin 2s linear infinite;
    animation: pace-theme-center-atom-spin 2s linear infinite;
    display: block;
    font-size: 15px;

    height: 60px;
    line-height: 1;
    position: absolute;
    width: 100px;
    z-index: 2000;
}

.pace .pace-activity {
    border: 5px solid #000000;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

.pace .pace-activity:after {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    border: 5px solid #000000;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 60px;
    left: -5px;

    position: absolute;
    top: -5px;
    transform: rotate(60deg);
    width: 100px;
}

.pace .pace-activity:before {
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    border: 5px solid #000000;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 60px;
    left: -5px;

    position: absolute;
    top: -5px;
    transform: rotate(120deg);
    width: 100px;
}

@-webkit-keyframes pace-theme-center-atom-spin {
    0% { -webkit-transform: rotate(0deg) }

    100% { -webkit-transform: rotate(359deg) }
}

@-moz-keyframes pace-theme-center-atom-spin {
    0% { -moz-transform: rotate(0deg) }

    100% { -moz-transform: rotate(359deg) }
}

@-o-keyframes pace-theme-center-atom-spin {
    0% { -o-transform: rotate(0deg) }

    100% { -o-transform: rotate(359deg) }
}

@keyframes pace-theme-center-atom-spin {
    0% { transform: rotate(0deg) }

    100% { transform: rotate(359deg) }
}