/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-pointer-events: none;
    -webkit-user-select: none;
    color: #2299dd;
    pointer-events: none;
    user-select: none;
}

.pace-progress {
    -ms-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -webkit-transition: opacity 0.1s;
    height: 5rem;
    left: 50%;
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    opacity: 1;
    position: fixed;
    top: 50%;
    transform: translate3d(0, 0, 0) !important;

    transition: opacity 0.1s;
    width: 5rem;
    z-index: 2000;
}

.pace-inactive .pace-progress,
.pace-progress[data-progress="00"] { opacity: 0; }

.pace-progress:after {
    content: attr(data-progress);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    width: 5rem;
}

.pace-progress .pace-progress-inner {
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    -webkit-transition: -webkit-transform 0.1s;
    height: 5rem;
    left: 2.5rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: left center;
    transition: transform 0.1s;
    width: 2.5rem;
}

.pace-progress .pace-progress-inner:before,
.pace-progress .pace-progress-inner:after {
    border: 1px solid;
    border-radius: 5rem;
    box-sizing: border-box;
    content: ' ';
    height: 5rem;
    left: -2.5rem;
    position: absolute;
    top: 0;
    width: 5rem;
}

.pace-progress .pace-progress-inner:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}

.pace-progress .pace-progress-inner:after {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-left-color: transparent;
    border-top-color: transparent;
    display: none;
    transform: rotate(315deg);
}

.pace-progress[data-progress="00"] .pace-progress-inner:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pace-progress[data-progress="01"] .pace-progress-inner:before {
    -ms-transform: rotate(-41deg);
    -webkit-transform: rotate(-41deg);
    transform: rotate(-41deg);
}

.pace-progress[data-progress="02"] .pace-progress-inner:before {
    -ms-transform: rotate(-38deg);
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
}

.pace-progress[data-progress="03"] .pace-progress-inner:before {
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
}

.pace-progress[data-progress="04"] .pace-progress-inner:before {
    -ms-transform: rotate(-31deg);
    -webkit-transform: rotate(-31deg);
    transform: rotate(-31deg);
}

.pace-progress[data-progress="05"] .pace-progress-inner:before {
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-27deg);
}

.pace-progress[data-progress="06"] .pace-progress-inner:before {
    -ms-transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
}

.pace-progress[data-progress="07"] .pace-progress-inner:before {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.pace-progress[data-progress="08"] .pace-progress-inner:before {
    -ms-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
}

.pace-progress[data-progress="09"] .pace-progress-inner:before {
    -ms-transform: rotate(-13deg);
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

.pace-progress[data-progress="10"] .pace-progress-inner:before {
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
}

.pace-progress[data-progress="11"] .pace-progress-inner:before {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.pace-progress[data-progress="12"] .pace-progress-inner:before {
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.pace-progress[data-progress="13"] .pace-progress-inner:before {
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.pace-progress[data-progress="14"] .pace-progress-inner:before {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.pace-progress[data-progress="15"] .pace-progress-inner:before {
    -ms-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}

.pace-progress[data-progress="16"] .pace-progress-inner:before {
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
}

.pace-progress[data-progress="17"] .pace-progress-inner:before {
    -ms-transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
}

.pace-progress[data-progress="18"] .pace-progress-inner:before {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.pace-progress[data-progress="19"] .pace-progress-inner:before {
    -ms-transform: rotate(23deg);
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
}

.pace-progress[data-progress="20"] .pace-progress-inner:before {
    -ms-transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
    transform: rotate(27deg);
}

.pace-progress[data-progress="21"] .pace-progress-inner:before {
    -ms-transform: rotate(31deg);
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg);
}

.pace-progress[data-progress="22"] .pace-progress-inner:before {
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

.pace-progress[data-progress="23"] .pace-progress-inner:before {
    -ms-transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
}

.pace-progress[data-progress="24"] .pace-progress-inner:before {
    -ms-transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
}

.pace-progress[data-progress="25"] .pace-progress-inner:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pace-progress[data-progress="26"] .pace-progress-inner:before {
    -ms-transform: rotate(49deg);
    -webkit-transform: rotate(49deg);
    transform: rotate(49deg);
}

.pace-progress[data-progress="27"] .pace-progress-inner:before {
    -ms-transform: rotate(52deg);
    -webkit-transform: rotate(52deg);
    transform: rotate(52deg);
}

.pace-progress[data-progress="28"] .pace-progress-inner:before {
    -ms-transform: rotate(56deg);
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg);
}

.pace-progress[data-progress="29"] .pace-progress-inner:before {
    -ms-transform: rotate(59deg);
    -webkit-transform: rotate(59deg);
    transform: rotate(59deg);
}

.pace-progress[data-progress="30"] .pace-progress-inner:before {
    -ms-transform: rotate(63deg);
    -webkit-transform: rotate(63deg);
    transform: rotate(63deg);
}

.pace-progress[data-progress="31"] .pace-progress-inner:before {
    -ms-transform: rotate(67deg);
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
}

.pace-progress[data-progress="32"] .pace-progress-inner:before {
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
}

.pace-progress[data-progress="33"] .pace-progress-inner:before {
    -ms-transform: rotate(74deg);
    -webkit-transform: rotate(74deg);
    transform: rotate(74deg);
}

.pace-progress[data-progress="34"] .pace-progress-inner:before {
    -ms-transform: rotate(77deg);
    -webkit-transform: rotate(77deg);
    transform: rotate(77deg);
}

.pace-progress[data-progress="35"] .pace-progress-inner:before {
    -ms-transform: rotate(81deg);
    -webkit-transform: rotate(81deg);
    transform: rotate(81deg);
}

.pace-progress[data-progress="36"] .pace-progress-inner:before {
    -ms-transform: rotate(85deg);
    -webkit-transform: rotate(85deg);
    transform: rotate(85deg);
}

.pace-progress[data-progress="37"] .pace-progress-inner:before {
    -ms-transform: rotate(88deg);
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
}

.pace-progress[data-progress="38"] .pace-progress-inner:before {
    -ms-transform: rotate(92deg);
    -webkit-transform: rotate(92deg);
    transform: rotate(92deg);
}

.pace-progress[data-progress="39"] .pace-progress-inner:before {
    -ms-transform: rotate(95deg);
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
}

.pace-progress[data-progress="40"] .pace-progress-inner:before {
    -ms-transform: rotate(99deg);
    -webkit-transform: rotate(99deg);
    transform: rotate(99deg);
}

.pace-progress[data-progress="41"] .pace-progress-inner:before {
    -ms-transform: rotate(103deg);
    -webkit-transform: rotate(103deg);
    transform: rotate(103deg);
}

.pace-progress[data-progress="42"] .pace-progress-inner:before {
    -ms-transform: rotate(106deg);
    -webkit-transform: rotate(106deg);
    transform: rotate(106deg);
}

.pace-progress[data-progress="43"] .pace-progress-inner:before {
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
}

.pace-progress[data-progress="44"] .pace-progress-inner:before {
    -ms-transform: rotate(113deg);
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg);
}

.pace-progress[data-progress="45"] .pace-progress-inner:before {
    -ms-transform: rotate(117deg);
    -webkit-transform: rotate(117deg);
    transform: rotate(117deg);
}

.pace-progress[data-progress="46"] .pace-progress-inner:before {
    -ms-transform: rotate(121deg);
    -webkit-transform: rotate(121deg);
    transform: rotate(121deg);
}

.pace-progress[data-progress="47"] .pace-progress-inner:before {
    -ms-transform: rotate(124deg);
    -webkit-transform: rotate(124deg);
    transform: rotate(124deg);
}

.pace-progress[data-progress="48"] .pace-progress-inner:before {
    -ms-transform: rotate(128deg);
    -webkit-transform: rotate(128deg);
    transform: rotate(128deg);
}

.pace-progress[data-progress="49"] .pace-progress-inner:before {
    -ms-transform: rotate(131deg);
    -webkit-transform: rotate(131deg);
    transform: rotate(131deg);
}

.pace-progress[data-progress="50"] .pace-progress-inner:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.pace-progress[data-progress="50"] .pace-progress-inner:after {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    display: block;
    transform: rotate(315deg);
}

.pace-progress[data-progress="51"] .pace-progress-inner:after {
    -ms-transform: rotate(319deg);
    -webkit-transform: rotate(319deg);
    display: block;
    transform: rotate(319deg);
}

.pace-progress[data-progress="52"] .pace-progress-inner:after {
    -ms-transform: rotate(322deg);
    -webkit-transform: rotate(322deg);
    display: block;
    transform: rotate(322deg);
}

.pace-progress[data-progress="53"] .pace-progress-inner:after {
    -ms-transform: rotate(326deg);
    -webkit-transform: rotate(326deg);
    display: block;
    transform: rotate(326deg);
}

.pace-progress[data-progress="54"] .pace-progress-inner:after {
    -ms-transform: rotate(329deg);
    -webkit-transform: rotate(329deg);
    display: block;
    transform: rotate(329deg);
}

.pace-progress[data-progress="55"] .pace-progress-inner:after {
    -ms-transform: rotate(333deg);
    -webkit-transform: rotate(333deg);
    display: block;
    transform: rotate(333deg);
}

.pace-progress[data-progress="56"] .pace-progress-inner:after {
    -ms-transform: rotate(337deg);
    -webkit-transform: rotate(337deg);
    display: block;
    transform: rotate(337deg);
}

.pace-progress[data-progress="57"] .pace-progress-inner:after {
    -ms-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    display: block;
    transform: rotate(340deg);
}

.pace-progress[data-progress="58"] .pace-progress-inner:after {
    -ms-transform: rotate(344deg);
    -webkit-transform: rotate(344deg);
    display: block;
    transform: rotate(344deg);
}

.pace-progress[data-progress="59"] .pace-progress-inner:after {
    -ms-transform: rotate(347deg);
    -webkit-transform: rotate(347deg);
    display: block;
    transform: rotate(347deg);
}

.pace-progress[data-progress="60"] .pace-progress-inner:after {
    -ms-transform: rotate(351deg);
    -webkit-transform: rotate(351deg);
    display: block;
    transform: rotate(351deg);
}

.pace-progress[data-progress="61"] .pace-progress-inner:after {
    -ms-transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    display: block;
    transform: rotate(355deg);
}

.pace-progress[data-progress="62"] .pace-progress-inner:after {
    -ms-transform: rotate(358deg);
    -webkit-transform: rotate(358deg);
    display: block;
    transform: rotate(358deg);
}

.pace-progress[data-progress="63"] .pace-progress-inner:after {
    -ms-transform: rotate(362deg);
    -webkit-transform: rotate(362deg);
    display: block;
    transform: rotate(362deg);
}

.pace-progress[data-progress="64"] .pace-progress-inner:after {
    -ms-transform: rotate(365deg);
    -webkit-transform: rotate(365deg);
    display: block;
    transform: rotate(365deg);
}

.pace-progress[data-progress="65"] .pace-progress-inner:after {
    -ms-transform: rotate(369deg);
    -webkit-transform: rotate(369deg);
    display: block;
    transform: rotate(369deg);
}

.pace-progress[data-progress="66"] .pace-progress-inner:after {
    -ms-transform: rotate(373deg);
    -webkit-transform: rotate(373deg);
    display: block;
    transform: rotate(373deg);
}

.pace-progress[data-progress="67"] .pace-progress-inner:after {
    -ms-transform: rotate(376deg);
    -webkit-transform: rotate(376deg);
    display: block;
    transform: rotate(376deg);
}

.pace-progress[data-progress="68"] .pace-progress-inner:after {
    -ms-transform: rotate(380deg);
    -webkit-transform: rotate(380deg);
    display: block;
    transform: rotate(380deg);
}

.pace-progress[data-progress="69"] .pace-progress-inner:after {
    -ms-transform: rotate(383deg);
    -webkit-transform: rotate(383deg);
    display: block;
    transform: rotate(383deg);
}

.pace-progress[data-progress="70"] .pace-progress-inner:after {
    -ms-transform: rotate(387deg);
    -webkit-transform: rotate(387deg);
    display: block;
    transform: rotate(387deg);
}

.pace-progress[data-progress="71"] .pace-progress-inner:after {
    -ms-transform: rotate(391deg);
    -webkit-transform: rotate(391deg);
    display: block;
    transform: rotate(391deg);
}

.pace-progress[data-progress="72"] .pace-progress-inner:after {
    -ms-transform: rotate(394deg);
    -webkit-transform: rotate(394deg);
    display: block;
    transform: rotate(394deg);
}

.pace-progress[data-progress="73"] .pace-progress-inner:after {
    -ms-transform: rotate(398deg);
    -webkit-transform: rotate(398deg);
    display: block;
    transform: rotate(398deg);
}

.pace-progress[data-progress="74"] .pace-progress-inner:after {
    -ms-transform: rotate(401deg);
    -webkit-transform: rotate(401deg);
    display: block;
    transform: rotate(401deg);
}

.pace-progress[data-progress="75"] .pace-progress-inner:after {
    -ms-transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    display: block;
    transform: rotate(405deg);
}

.pace-progress[data-progress="76"] .pace-progress-inner:after {
    -ms-transform: rotate(409deg);
    -webkit-transform: rotate(409deg);
    display: block;
    transform: rotate(409deg);
}

.pace-progress[data-progress="77"] .pace-progress-inner:after {
    -ms-transform: rotate(412deg);
    -webkit-transform: rotate(412deg);
    display: block;
    transform: rotate(412deg);
}

.pace-progress[data-progress="78"] .pace-progress-inner:after {
    -ms-transform: rotate(416deg);
    -webkit-transform: rotate(416deg);
    display: block;
    transform: rotate(416deg);
}

.pace-progress[data-progress="79"] .pace-progress-inner:after {
    -ms-transform: rotate(419deg);
    -webkit-transform: rotate(419deg);
    display: block;
    transform: rotate(419deg);
}

.pace-progress[data-progress="80"] .pace-progress-inner:after {
    -ms-transform: rotate(423deg);
    -webkit-transform: rotate(423deg);
    display: block;
    transform: rotate(423deg);
}

.pace-progress[data-progress="81"] .pace-progress-inner:after {
    -ms-transform: rotate(427deg);
    -webkit-transform: rotate(427deg);
    display: block;
    transform: rotate(427deg);
}

.pace-progress[data-progress="82"] .pace-progress-inner:after {
    -ms-transform: rotate(430deg);
    -webkit-transform: rotate(430deg);
    display: block;
    transform: rotate(430deg);
}

.pace-progress[data-progress="83"] .pace-progress-inner:after {
    -ms-transform: rotate(434deg);
    -webkit-transform: rotate(434deg);
    display: block;
    transform: rotate(434deg);
}

.pace-progress[data-progress="84"] .pace-progress-inner:after {
    -ms-transform: rotate(437deg);
    -webkit-transform: rotate(437deg);
    display: block;
    transform: rotate(437deg);
}

.pace-progress[data-progress="85"] .pace-progress-inner:after {
    -ms-transform: rotate(441deg);
    -webkit-transform: rotate(441deg);
    display: block;
    transform: rotate(441deg);
}

.pace-progress[data-progress="86"] .pace-progress-inner:after {
    -ms-transform: rotate(445deg);
    -webkit-transform: rotate(445deg);
    display: block;
    transform: rotate(445deg);
}

.pace-progress[data-progress="87"] .pace-progress-inner:after {
    -ms-transform: rotate(448deg);
    -webkit-transform: rotate(448deg);
    display: block;
    transform: rotate(448deg);
}

.pace-progress[data-progress="88"] .pace-progress-inner:after {
    -ms-transform: rotate(452deg);
    -webkit-transform: rotate(452deg);
    display: block;
    transform: rotate(452deg);
}

.pace-progress[data-progress="89"] .pace-progress-inner:after {
    -ms-transform: rotate(455deg);
    -webkit-transform: rotate(455deg);
    display: block;
    transform: rotate(455deg);
}

.pace-progress[data-progress="90"] .pace-progress-inner:after {
    -ms-transform: rotate(459deg);
    -webkit-transform: rotate(459deg);
    display: block;
    transform: rotate(459deg);
}

.pace-progress[data-progress="91"] .pace-progress-inner:after {
    -ms-transform: rotate(463deg);
    -webkit-transform: rotate(463deg);
    display: block;
    transform: rotate(463deg);
}

.pace-progress[data-progress="92"] .pace-progress-inner:after {
    -ms-transform: rotate(466deg);
    -webkit-transform: rotate(466deg);
    display: block;
    transform: rotate(466deg);
}

.pace-progress[data-progress="93"] .pace-progress-inner:after {
    -ms-transform: rotate(470deg);
    -webkit-transform: rotate(470deg);
    display: block;
    transform: rotate(470deg);
}

.pace-progress[data-progress="94"] .pace-progress-inner:after {
    -ms-transform: rotate(473deg);
    -webkit-transform: rotate(473deg);
    display: block;
    transform: rotate(473deg);
}

.pace-progress[data-progress="95"] .pace-progress-inner:after {
    -ms-transform: rotate(477deg);
    -webkit-transform: rotate(477deg);
    display: block;
    transform: rotate(477deg);
}

.pace-progress[data-progress="96"] .pace-progress-inner:after {
    -ms-transform: rotate(481deg);
    -webkit-transform: rotate(481deg);
    display: block;
    transform: rotate(481deg);
}

.pace-progress[data-progress="97"] .pace-progress-inner:after {
    -ms-transform: rotate(484deg);
    -webkit-transform: rotate(484deg);
    display: block;
    transform: rotate(484deg);
}

.pace-progress[data-progress="98"] .pace-progress-inner:after {
    -ms-transform: rotate(488deg);
    -webkit-transform: rotate(488deg);
    display: block;
    transform: rotate(488deg);
}

.pace-progress[data-progress="99"] .pace-progress-inner:after {
    -ms-transform: rotate(491deg);
    -webkit-transform: rotate(491deg);
    display: block;
    transform: rotate(491deg);
}

.pace-progress[data-progress="100"] .pace-progress-inner:after {
    -ms-transform: rotate(495deg);
    -webkit-transform: rotate(495deg);
    display: block;
    transform: rotate(495deg);
}

.pace-progress[data-progress="00"] .pace-progress-inner {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pace-progress[data-progress="01"] .pace-progress-inner {
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

.pace-progress[data-progress="02"] .pace-progress-inner {
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

.pace-progress[data-progress="03"] .pace-progress-inner {
    -ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg);
    transform: rotate(11deg);
}

.pace-progress[data-progress="04"] .pace-progress-inner {
    -ms-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}

.pace-progress[data-progress="05"] .pace-progress-inner {
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.pace-progress[data-progress="06"] .pace-progress-inner {
    -ms-transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
}

.pace-progress[data-progress="07"] .pace-progress-inner {
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.pace-progress[data-progress="08"] .pace-progress-inner {
    -ms-transform: rotate(29deg);
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
}

.pace-progress[data-progress="09"] .pace-progress-inner {
    -ms-transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
}

.pace-progress[data-progress="10"] .pace-progress-inner {
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}

.pace-progress[data-progress="11"] .pace-progress-inner {
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.pace-progress[data-progress="12"] .pace-progress-inner {
    -ms-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
}

.pace-progress[data-progress="13"] .pace-progress-inner {
    -ms-transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
}

.pace-progress[data-progress="14"] .pace-progress-inner {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.pace-progress[data-progress="15"] .pace-progress-inner {
    -ms-transform: rotate(54deg);
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
}

.pace-progress[data-progress="16"] .pace-progress-inner {
    -ms-transform: rotate(58deg);
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
}

.pace-progress[data-progress="17"] .pace-progress-inner {
    -ms-transform: rotate(61deg);
    -webkit-transform: rotate(61deg);
    transform: rotate(61deg);
}

.pace-progress[data-progress="18"] .pace-progress-inner {
    -ms-transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
}

.pace-progress[data-progress="19"] .pace-progress-inner {
    -ms-transform: rotate(68deg);
    -webkit-transform: rotate(68deg);
    transform: rotate(68deg);
}

.pace-progress[data-progress="20"] .pace-progress-inner {
    -ms-transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
}

.pace-progress[data-progress="21"] .pace-progress-inner {
    -ms-transform: rotate(76deg);
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}

.pace-progress[data-progress="22"] .pace-progress-inner {
    -ms-transform: rotate(79deg);
    -webkit-transform: rotate(79deg);
    transform: rotate(79deg);
}

.pace-progress[data-progress="23"] .pace-progress-inner {
    -ms-transform: rotate(83deg);
    -webkit-transform: rotate(83deg);
    transform: rotate(83deg);
}

.pace-progress[data-progress="24"] .pace-progress-inner {
    -ms-transform: rotate(86deg);
    -webkit-transform: rotate(86deg);
    transform: rotate(86deg);
}

.pace-progress[data-progress="25"] .pace-progress-inner {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pace-progress[data-progress="26"] .pace-progress-inner {
    -ms-transform: rotate(94deg);
    -webkit-transform: rotate(94deg);
    transform: rotate(94deg);
}

.pace-progress[data-progress="27"] .pace-progress-inner {
    -ms-transform: rotate(97deg);
    -webkit-transform: rotate(97deg);
    transform: rotate(97deg);
}

.pace-progress[data-progress="28"] .pace-progress-inner {
    -ms-transform: rotate(101deg);
    -webkit-transform: rotate(101deg);
    transform: rotate(101deg);
}

.pace-progress[data-progress="29"] .pace-progress-inner {
    -ms-transform: rotate(104deg);
    -webkit-transform: rotate(104deg);
    transform: rotate(104deg);
}

.pace-progress[data-progress="30"] .pace-progress-inner {
    -ms-transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
}

.pace-progress[data-progress="31"] .pace-progress-inner {
    -ms-transform: rotate(112deg);
    -webkit-transform: rotate(112deg);
    transform: rotate(112deg);
}

.pace-progress[data-progress="32"] .pace-progress-inner {
    -ms-transform: rotate(115deg);
    -webkit-transform: rotate(115deg);
    transform: rotate(115deg);
}

.pace-progress[data-progress="33"] .pace-progress-inner {
    -ms-transform: rotate(119deg);
    -webkit-transform: rotate(119deg);
    transform: rotate(119deg);
}

.pace-progress[data-progress="34"] .pace-progress-inner {
    -ms-transform: rotate(122deg);
    -webkit-transform: rotate(122deg);
    transform: rotate(122deg);
}

.pace-progress[data-progress="35"] .pace-progress-inner {
    -ms-transform: rotate(126deg);
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
}

.pace-progress[data-progress="36"] .pace-progress-inner {
    -ms-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.pace-progress[data-progress="37"] .pace-progress-inner {
    -ms-transform: rotate(133deg);
    -webkit-transform: rotate(133deg);
    transform: rotate(133deg);
}

.pace-progress[data-progress="38"] .pace-progress-inner {
    -ms-transform: rotate(137deg);
    -webkit-transform: rotate(137deg);
    transform: rotate(137deg);
}

.pace-progress[data-progress="39"] .pace-progress-inner {
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
}

.pace-progress[data-progress="40"] .pace-progress-inner {
    -ms-transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}

.pace-progress[data-progress="41"] .pace-progress-inner {
    -ms-transform: rotate(148deg);
    -webkit-transform: rotate(148deg);
    transform: rotate(148deg);
}

.pace-progress[data-progress="42"] .pace-progress-inner {
    -ms-transform: rotate(151deg);
    -webkit-transform: rotate(151deg);
    transform: rotate(151deg);
}

.pace-progress[data-progress="43"] .pace-progress-inner {
    -ms-transform: rotate(155deg);
    -webkit-transform: rotate(155deg);
    transform: rotate(155deg);
}

.pace-progress[data-progress="44"] .pace-progress-inner {
    -ms-transform: rotate(158deg);
    -webkit-transform: rotate(158deg);
    transform: rotate(158deg);
}

.pace-progress[data-progress="45"] .pace-progress-inner {
    -ms-transform: rotate(162deg);
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
}

.pace-progress[data-progress="46"] .pace-progress-inner {
    -ms-transform: rotate(166deg);
    -webkit-transform: rotate(166deg);
    transform: rotate(166deg);
}

.pace-progress[data-progress="47"] .pace-progress-inner {
    -ms-transform: rotate(169deg);
    -webkit-transform: rotate(169deg);
    transform: rotate(169deg);
}

.pace-progress[data-progress="48"] .pace-progress-inner {
    -ms-transform: rotate(173deg);
    -webkit-transform: rotate(173deg);
    transform: rotate(173deg);
}

.pace-progress[data-progress="49"] .pace-progress-inner {
    -ms-transform: rotate(176deg);
    -webkit-transform: rotate(176deg);
    transform: rotate(176deg);
}

.pace-progress[data-progress="50"] .pace-progress-inner {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pace-progress[data-progress="51"] .pace-progress-inner {
    -ms-transform: rotate(184deg);
    -webkit-transform: rotate(184deg);
    overflow: visible;
    transform: rotate(184deg);
}

.pace-progress[data-progress="52"] .pace-progress-inner {
    -ms-transform: rotate(187deg);
    -webkit-transform: rotate(187deg);
    overflow: visible;
    transform: rotate(187deg);
}

.pace-progress[data-progress="53"] .pace-progress-inner {
    -ms-transform: rotate(191deg);
    -webkit-transform: rotate(191deg);
    overflow: visible;
    transform: rotate(191deg);
}

.pace-progress[data-progress="54"] .pace-progress-inner {
    -ms-transform: rotate(194deg);
    -webkit-transform: rotate(194deg);
    overflow: visible;
    transform: rotate(194deg);
}

.pace-progress[data-progress="55"] .pace-progress-inner {
    -ms-transform: rotate(198deg);
    -webkit-transform: rotate(198deg);
    overflow: visible;
    transform: rotate(198deg);
}

.pace-progress[data-progress="56"] .pace-progress-inner {
    -ms-transform: rotate(202deg);
    -webkit-transform: rotate(202deg);
    overflow: visible;
    transform: rotate(202deg);
}

.pace-progress[data-progress="57"] .pace-progress-inner {
    -ms-transform: rotate(205deg);
    -webkit-transform: rotate(205deg);
    overflow: visible;
    transform: rotate(205deg);
}

.pace-progress[data-progress="58"] .pace-progress-inner {
    -ms-transform: rotate(209deg);
    -webkit-transform: rotate(209deg);
    overflow: visible;
    transform: rotate(209deg);
}

.pace-progress[data-progress="59"] .pace-progress-inner {
    -ms-transform: rotate(212deg);
    -webkit-transform: rotate(212deg);
    overflow: visible;
    transform: rotate(212deg);
}

.pace-progress[data-progress="60"] .pace-progress-inner {
    -ms-transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    overflow: visible;
    transform: rotate(216deg);
}

.pace-progress[data-progress="61"] .pace-progress-inner {
    -ms-transform: rotate(220deg);
    -webkit-transform: rotate(220deg);
    overflow: visible;
    transform: rotate(220deg);
}

.pace-progress[data-progress="62"] .pace-progress-inner {
    -ms-transform: rotate(223deg);
    -webkit-transform: rotate(223deg);
    overflow: visible;
    transform: rotate(223deg);
}

.pace-progress[data-progress="63"] .pace-progress-inner {
    -ms-transform: rotate(227deg);
    -webkit-transform: rotate(227deg);
    overflow: visible;
    transform: rotate(227deg);
}

.pace-progress[data-progress="64"] .pace-progress-inner {
    -ms-transform: rotate(230deg);
    -webkit-transform: rotate(230deg);
    overflow: visible;
    transform: rotate(230deg);
}

.pace-progress[data-progress="65"] .pace-progress-inner {
    -ms-transform: rotate(234deg);
    -webkit-transform: rotate(234deg);
    overflow: visible;
    transform: rotate(234deg);
}

.pace-progress[data-progress="66"] .pace-progress-inner {
    -ms-transform: rotate(238deg);
    -webkit-transform: rotate(238deg);
    overflow: visible;
    transform: rotate(238deg);
}

.pace-progress[data-progress="67"] .pace-progress-inner {
    -ms-transform: rotate(241deg);
    -webkit-transform: rotate(241deg);
    overflow: visible;
    transform: rotate(241deg);
}

.pace-progress[data-progress="68"] .pace-progress-inner {
    -ms-transform: rotate(245deg);
    -webkit-transform: rotate(245deg);
    overflow: visible;
    transform: rotate(245deg);
}

.pace-progress[data-progress="69"] .pace-progress-inner {
    -ms-transform: rotate(248deg);
    -webkit-transform: rotate(248deg);
    overflow: visible;
    transform: rotate(248deg);
}

.pace-progress[data-progress="70"] .pace-progress-inner {
    -ms-transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    overflow: visible;
    transform: rotate(252deg);
}

.pace-progress[data-progress="71"] .pace-progress-inner {
    -ms-transform: rotate(256deg);
    -webkit-transform: rotate(256deg);
    overflow: visible;
    transform: rotate(256deg);
}

.pace-progress[data-progress="72"] .pace-progress-inner {
    -ms-transform: rotate(259deg);
    -webkit-transform: rotate(259deg);
    overflow: visible;
    transform: rotate(259deg);
}

.pace-progress[data-progress="73"] .pace-progress-inner {
    -ms-transform: rotate(263deg);
    -webkit-transform: rotate(263deg);
    overflow: visible;
    transform: rotate(263deg);
}

.pace-progress[data-progress="74"] .pace-progress-inner {
    -ms-transform: rotate(266deg);
    -webkit-transform: rotate(266deg);
    overflow: visible;
    transform: rotate(266deg);
}

.pace-progress[data-progress="75"] .pace-progress-inner {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    overflow: visible;
    transform: rotate(270deg);
}

.pace-progress[data-progress="76"] .pace-progress-inner {
    -ms-transform: rotate(274deg);
    -webkit-transform: rotate(274deg);
    overflow: visible;
    transform: rotate(274deg);
}

.pace-progress[data-progress="77"] .pace-progress-inner {
    -ms-transform: rotate(277deg);
    -webkit-transform: rotate(277deg);
    overflow: visible;
    transform: rotate(277deg);
}

.pace-progress[data-progress="78"] .pace-progress-inner {
    -ms-transform: rotate(281deg);
    -webkit-transform: rotate(281deg);
    overflow: visible;
    transform: rotate(281deg);
}

.pace-progress[data-progress="79"] .pace-progress-inner {
    -ms-transform: rotate(284deg);
    -webkit-transform: rotate(284deg);
    overflow: visible;
    transform: rotate(284deg);
}

.pace-progress[data-progress="80"] .pace-progress-inner {
    -ms-transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    overflow: visible;
    transform: rotate(288deg);
}

.pace-progress[data-progress="81"] .pace-progress-inner {
    -ms-transform: rotate(292deg);
    -webkit-transform: rotate(292deg);
    overflow: visible;
    transform: rotate(292deg);
}

.pace-progress[data-progress="82"] .pace-progress-inner {
    -ms-transform: rotate(295deg);
    -webkit-transform: rotate(295deg);
    overflow: visible;
    transform: rotate(295deg);
}

.pace-progress[data-progress="83"] .pace-progress-inner {
    -ms-transform: rotate(299deg);
    -webkit-transform: rotate(299deg);
    overflow: visible;
    transform: rotate(299deg);
}

.pace-progress[data-progress="84"] .pace-progress-inner {
    -ms-transform: rotate(302deg);
    -webkit-transform: rotate(302deg);
    overflow: visible;
    transform: rotate(302deg);
}

.pace-progress[data-progress="85"] .pace-progress-inner {
    -ms-transform: rotate(306deg);
    -webkit-transform: rotate(306deg);
    overflow: visible;
    transform: rotate(306deg);
}

.pace-progress[data-progress="86"] .pace-progress-inner {
    -ms-transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
    overflow: visible;
    transform: rotate(310deg);
}

.pace-progress[data-progress="87"] .pace-progress-inner {
    -ms-transform: rotate(313deg);
    -webkit-transform: rotate(313deg);
    overflow: visible;
    transform: rotate(313deg);
}

.pace-progress[data-progress="88"] .pace-progress-inner {
    -ms-transform: rotate(317deg);
    -webkit-transform: rotate(317deg);
    overflow: visible;
    transform: rotate(317deg);
}

.pace-progress[data-progress="89"] .pace-progress-inner {
    -ms-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    overflow: visible;
    transform: rotate(320deg);
}

.pace-progress[data-progress="90"] .pace-progress-inner {
    -ms-transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    overflow: visible;
    transform: rotate(324deg);
}

.pace-progress[data-progress="91"] .pace-progress-inner {
    -ms-transform: rotate(328deg);
    -webkit-transform: rotate(328deg);
    overflow: visible;
    transform: rotate(328deg);
}

.pace-progress[data-progress="92"] .pace-progress-inner {
    -ms-transform: rotate(331deg);
    -webkit-transform: rotate(331deg);
    overflow: visible;
    transform: rotate(331deg);
}

.pace-progress[data-progress="93"] .pace-progress-inner {
    -ms-transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    overflow: visible;
    transform: rotate(335deg);
}

.pace-progress[data-progress="94"] .pace-progress-inner {
    -ms-transform: rotate(338deg);
    -webkit-transform: rotate(338deg);
    overflow: visible;
    transform: rotate(338deg);
}

.pace-progress[data-progress="95"] .pace-progress-inner {
    -ms-transform: rotate(342deg);
    -webkit-transform: rotate(342deg);
    overflow: visible;
    transform: rotate(342deg);
}

.pace-progress[data-progress="96"] .pace-progress-inner {
    -ms-transform: rotate(346deg);
    -webkit-transform: rotate(346deg);
    overflow: visible;
    transform: rotate(346deg);
}

.pace-progress[data-progress="97"] .pace-progress-inner {
    -ms-transform: rotate(349deg);
    -webkit-transform: rotate(349deg);
    overflow: visible;
    transform: rotate(349deg);
}

.pace-progress[data-progress="98"] .pace-progress-inner {
    -ms-transform: rotate(353deg);
    -webkit-transform: rotate(353deg);
    overflow: visible;
    transform: rotate(353deg);
}

.pace-progress[data-progress="99"] .pace-progress-inner {
    -ms-transform: rotate(356deg);
    -webkit-transform: rotate(356deg);
    overflow: visible;
    transform: rotate(356deg);
}

.pace-progress[data-progress="100"] .pace-progress-inner {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    overflow: visible;
    transform: rotate(360deg);
}