.tether-element, .tether-target {
    background-color: #4cc;
    height: 50px;
    position: absolute;
    width: 200px;
}

body {
    height: 100%;
    overflow: scroll;
    width: 100%;
}

.scroll {
    height: 400%;
    width: 400%;
}

.tether-target:not(.tether-element) { cursor: move; }