@using BiberDAMM.Helpers 
@{
    ViewBag.Title = "Home Administrator";
}

<!--show alert "InitialPasswordTrue" if the user uses an initial password set by an administrator [KrabsJ]-->
@if (TempData["InitialPasswordTrue"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["InitialPasswordTrue"] @Html.ActionLink("Passwort ändern", "ChangePassword", "Manage")
    </div>
}

<!--show alert "UnexpectedFailure" [KrabsJ]-->
@if (TempData["UnexpectedFailure"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Unerwarteter Fehler!</strong>@TempData["UnexpectedFailure"]
    </div>
}
    
    <!--JEL-->
    @*<span style="display:inline-block;height:20px"></span>*@

    <div class="container-fluid">
        <div class="row">
            <h1>Willkommen @User.Identity.GetDisplayName()</h1>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-lg btn-primary btn-block" href="/Account/Register">
                    <i class="fa fa-address-card fa-2x pull-left"></i> Neuen Nutzer <br>anlegen
                </a>
            </div>
            <div class="col">
                <a class="btn btn-lg btn-danger btn-block" href="/Room/Create">
                    <i class="fa fa-hospital-o fa-2x pull-left"></i> Neuen Raum <br>anlegen
                </a>
            </div>
            <div class="w-100">
                <span style="display:inline-block;height:20px"></span>
            </div>
            <div class="col">
                <a class="btn btn-lg btn-success btn-block" href="/Bed/Create">
                    <i class="fa fa-bed fa-2x pull-left"></i> Neues Bett <br>anlegen
                </a>
            </div>
            <div class="col">
                <a class="btn btn-lg btn-warning btn-block" href="/HealthInsurance/Create">
                    <i class="fa fa-university fa-2x pull-left"></i> Neue Krankenkasse <br>anlegen
                </a>
            </div>
        </div>
    </div>
