@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Administrator";
}

<div class="jumbotron">
    <h1>Willkommen @User.Identity.GetUserName()</h1>
    <p class="lead">Dies ist die Homeseite für Administratoren</p>
</div>