/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -moz-user-select: none;
    -ms-transform: translate3d(0, -50px, 0);

    -ms-transition: -webkit-transform .5s ease-out;
    -webkit-pointer-events: none;
    -webkit-transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -webkit-user-select: none;
    left: 0;
    pointer-events: none;

    position: fixed;
    top: 0;
    transform: translate3d(0, -50px, 0);

    transition: transform .5s ease-out;
    user-select: none;
    width: 100%;
}

.pace.pace-active {
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    background: #ee3148;
    display: block;
    height: 10px;
    pointer-events: none;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;

    z-index: 2000;
}