.pace {
    -moz-user-select: none;
    -webkit-pointer-events: none;
    -webkit-user-select: none;
    pointer-events: none;
    user-select: none;
}

.pace-inactive { display: none; }

.pace .pace-progress {
    background-color: #EE5C00;
    height: 42px;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 100;
}

.pace .pace-progress-inner {
    -moz-animation: pace-stripe-animation 500ms linear infinite;
    -moz-background-size: 32px 32px;
    -ms-animation: pace-stripe-animation 500ms linear infinite;
    -o-animation: pace-stripe-animation 500ms linear infinite;
    -o-background-size: 32px 32px;

    -webkit-animation: pace-stripe-animation 500ms linear infinite;
    -webkit-background-size: 32px 32px;
    animation: pace-stripe-animation 500ms linear infinite;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 32px 32px;

    bottom: 0;
    left: 0;
    position: absolute;
    right: -32px;
    top: 0;
}

@-webkit-keyframes pace-stripe-animation {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    100% {
        -webkit-transform: translate(-32px, 0);
        transform: translate(-32px, 0);
    }
}

@-moz-keyframes pace-stripe-animation {
    0% {
        -moz-transform: none;
        transform: none;
    }

    100% {
        -moz-transform: translate(-32px, 0);
        transform: translate(-32px, 0);
    }
}

@-o-keyframes pace-stripe-animation {
    0% {
        -o-transform: none;
        transform: none;
    }

    100% {
        -o-transform: translate(-32px, 0);
        transform: translate(-32px, 0);
    }
}

@-ms-keyframes pace-stripe-animation {
    0% {
        -ms-transform: none;
        transform: none;
    }

    100% {
        -ms-transform: translate(-32px, 0);
        transform: translate(-32px, 0);
    }
}

@keyframes pace-stripe-animation {
    0% {
        transform: none;
        transform: none;
    }

    100% {
        transform: translate(-32px, 0);
        transform: translate(-32px, 0);
    }
}