.drop-target.drop-open { outline: 2px solid; }

.body {
    margin-right: 300px;
    position: relative;
}

.page {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
    width: 1080px;
}

.navigation {
    background: blue;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 300px;
}

.navigation .item a {
    display: inline-block;
    padding: 30px 20px;
}

.navigation .item a { color: inherit; }

.navigation .drop-target.drop-open {
    background: #fff;
    color: blue;
    outline: none;
}

.right-sidebar {
    background: #eee;
    height: 50%;
    overflow: auto;
    position: fixed;
    right: 0;
    width: 300px;
}

.right-sidebar .drop-target.drop-open {
    background: blue;
    color: #fff;
    outline: none;
}

.right-sidebar .item a {
    background: rgba(0, 0, 0, .1);
    display: block;
    margin-bottom: 10px;
    padding: 20px;
}

.right-sidebar-top { top: 0; }

.right-sidebar-bottom {
    background: #ccc;
    top: 50%;
}

.scroll-container {
    background: #eee;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 200px;
}

.absolute-container {
    position: absolute;
    right: 300px;
    top: 20px;
}