@charset "UTF-8";

*, *:after, *:before { box-sizing: border-box; }

body { position: relative; }

.yellow-box {
    background-color: #fe8;
    height: 100px;
    pointer-events: none;
    width: 100px;
}

.green-box {
    background-color: #4e9;
    height: 50px;
    margin-left: 100px;
    margin-top: 65px;
    width: 200px;
}

.no-green .green-box { display: none; }

.scroll-box {
    background: #fbfbfb;
    border: 10px solid #eee;
    height: 150px;
    overflow: auto;
    position: relative;
}

.scroll-content {
    height: 2000px;
    padding: 910px 809px;
    width: 2000px;
}

pre.pre-with-output {
    float: left;
    margin: 0;
    width: 50%;
}

pre.pre-with-output code mark {
    background: #b8daff;
    color: #000;
}

p, h2, h3 { clear: both; }

output {
    display: block;
    float: right;
    margin-bottom: 15px;
    position: relative;
    width: 50%;
}

output.scroll-page .scroll-box { overflow: hidden; }

output.scroll-page:after { content: "↕ scroll the page ↕"; }

output:after {
    -webkit-transition: opacity 0.2s;
    bottom: 25px;
    color: #777;
    content: "↕ scroll this area ↕";
    font-size: 16px;
    font-variant: small-caps;
    opacity: 1;
    position: absolute;
    text-align: center;
    transition: opacity 0.2s;
    width: 100%;
}

output.scrolled:after { opacity: 0; }

output[deactivated], output[activated] { cursor: pointer; }

output[deactivated] .scroll-box, output[activated] .scroll-box { pointer-events: none; }

output[deactivated]:after, output[activated]:after {
    background-color: #AAA;
    border-left: 10px solid #EEE;
    bottom: 0;
    color: white;
    content: "Click To Show";
    font-size: 24px;
    font-variant: normal;
    left: 0;
    opacity: 1;
    padding-top: 80px;
    position: absolute;
    right: 0;
    top: 0;
}

output[activated]:after { content: "Click To Hide"; }

output[activated].visible-enabled:after {
    height: 35px;
    padding-top: 5px;
}

.attachment-mark, .tether-marker-dot { position: relative; }

.attachment-mark:after, .tether-marker-dot:after {
    background-color: red;
    color: white;
    content: "A";
    display: inline-block;
    font-size: 9px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    width: 10px;
}

span.attachment-mark:after, span.tether-marker-dot:after {
    margin-right: 1px;
    position: relative;
    top: -1px;
}

.tether-marker-dot { position: absolute; }

.tether-marker-dot:after {
    left: -5px;
    top: -5px;
}

.tether-target-marker { position: absolute; }

div.tether-target-attached-left .tether-target-marker { left: 0; }

div.tether-target-attached-top .tether-target-marker { top: 0; }

div.tether-target-attached-bottom .tether-target-marker { bottom: 0; }

div.tether-target-attached-right .tether-target-marker { right: 0; }

div.tether-target-attached-center .tether-target-marker { left: 50%; }

.tether-element-marker { position: absolute; }

div.tether-element-attached-left .tether-element-marker { left: 0; }

div.tether-element-attached-top .tether-element-marker { top: 0; }

div.tether-element-attached-bottom .tether-element-marker { bottom: 0; }

div.tether-element-attached-right .tether-element-marker { right: 0; }

div.tether-element-attached-center .tether-element-marker { left: 50%; }

.tether-element-attached-middle .tether-element-marker { top: 50px; }

.tether-target-attached-middle .tether-target-marker { top: 25px; }

.tether-element { position: relative; }

.tether-element.tether-pinned-left { box-shadow: inset 2px 0 0 0 red; }

.tether-element.tether-pinned-right { box-shadow: inset -2px 0 0 0 red; }

.tether-element.tether-pinned-top { box-shadow: inset 0 2px 0 0 red; }

.tether-element.tether-pinned-bottom { box-shadow: inset 0 -2px 0 0 red; }

.tether-target { position: relative; }

.tether-element.tether-out-of-bounds[data-example="hide"] { display: none; }

[data-example^="optimizer"].lang-javascript {
    /* This should just be a `code` selector, but sass doesn't allow that with & */
    min-height: 220px;
}

[data-example^="optimizer"].tether-element:before {
    color: #666;
    content: "I'm in the body";
    display: block;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 26px;
    padding: 4px;
    text-align: center;
}

[data-example^="optimizer"] .scroll-box .tether-element:before { content: "I'm in my scroll parent!"; }

.tether-element[data-example="scroll-visible"] { height: 30px; }

.tether-element[data-example="scroll-visible"] .tether-marker-dot { display: none; }

.hs-doc-content h2.projects-header {
    font-weight: 300;
    text-align: center;
}

.projects-paragraph { text-align: center; }

.projects-paragraph a {
    color: inherit;
    display: inline-block;
    *display: inline;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
}

.projects-paragraph a span {
    color: inherit;
    display: inline-block;
    *display: inline;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
}

.projects-paragraph a img {
    display: block;
    max-width: 100%;
    width: 100px;
}