/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -moz-user-select: none;
    -webkit-pointer-events: none;
    -webkit-user-select: none;
    pointer-events: none;
    user-select: none;
}

.pace-inactive { display: none; }

.pace .pace-progress {
    background-color: rgba(235, 122, 85, 0.19999999999999996);
    bottom: 0;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: -1;
}