@*
    Page witch will be displayed when the user request a ressource that is not there.
    Author: [HansesM]
*@


@{
    ViewBag.Title = "Oops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oops, Fehler</h2>
<h4>Die gewünschte Ressource konnte nicht gefunden werden. Bitte versuchen Sie eine andere Adresse.</h4>
