@using Microsoft.AspNet.Identity
@using BiberDAMM.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <div>

            @Html.ActionLink(User.Identity.GetDisplayName(), "UserDetails", "Account", null, new {@class= "btn btn-outline-primary btn-sm" })
            <input title="Abmelden" type="submit" name="command" value="Abmelden" class="btn btn-outline-primary btn-sm" />
        </div>
    }
}