@using Microsoft.AspNet.Identity
@using BiberDAMM.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <!--TODO [KrabsJ] Redirect to a userdetailspage-->
                <!--TODO [HansesM] remove ugly link color.-->
                @Html.ActionLink("Herzlich Willkommen  " + User.Identity.GetDisplayName() + " ", "Index", "Manage", null, new {title = "Manage"})
            </li>
            
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"> Abmelden</a>
            </li>
        </ul>
    }
}