<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-university" aria-hidden="true"></i> Pläne</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/home/index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i> Reinigungsplan</a>
                        
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>