<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-university" aria-hidden="true"></i> Krankenkasse</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/HealthInsurance/index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HealthInsurance/create"><i class="fa fa-plus-circle" aria-hidden="true"></i> Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-hospital-o" aria-hidden="true"></i>Räume</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Room/Index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                        <a class="nav-link" href="/Room/Create"><i class="fa fa-plus-circle" aria-hidden="true"></i> Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bed" aria-hidden="true"></i>Betten</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Bed/Index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                        <a class="nav-link" href="/Bed/Create"><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-id-badge" aria-hidden="true"></i>Kontakttyp</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/ContactType/Index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                        <a class="nav-link" href="/ContactType/Create"><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-address-card fa-lg"></i>Nutzer</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Register"><i class="fa fa-plus-circle" aria-hidden="true"></i> Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-heart" aria-hidden="true"></i>Patienten</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Client/Index"><i class="fa fa-eye" aria-hidden="true"></i> Anzeigen</a>
                        <a class="nav-link" href="/Client/LastNIndex"><i class="fa fa-eye" aria-hidden="true"></i> Zuletzt bearbeitet</a>
                        <a class="nav-link" href="/Client/Create"><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>