<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-university" aria-hidden="true"></i>Krankenkasse</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/HealthInsurance/index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Anzeigen</a>
                        <a class="nav-link nav-italic" href="/HealthInsurance/create"><span style="display:inline-block;width:20px"></span><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-hospital-o" aria-hidden="true"></i>Räume</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/Room/RoomScheduler"><span style="display:inline-block;width:20px"></span><i class="fa fa-tasks" aria-hidden="true"></i>Belegungspläne</a>
                        <a class="nav-link nav-italic" href="/Room/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Anzeigen</a>
                        <a class="nav-link nav-italic" href="/Room/Create"><span style="display:inline-block;width:20px"></span><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>                        
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bed" aria-hidden="true"></i>Betten</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/Bed/BedSchedule"><span style="display:inline-block;width:20px"></span><i class="fa fa-tasks" aria-hidden="true"></i>Belegungsplan</a>
                        <a class="nav-link nav-italic" href="/Bed/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Anzeigen</a>
                        <a class="nav-link nav-italic" href="/Bed/Create"><span style="display:inline-block;width:20px"></span><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>           
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-address-card fa-lg"></i>Benutzer</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/Account/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Anzeigen</a>
                        <a class="nav-link nav-italic" href="/Account/Register"><span style="display:inline-block;width:20px"></span><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-heart" aria-hidden="true"></i>Patienten</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/Client/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-search" aria-hidden="true"></i>Suche</a>
                        <a class="nav-link nav-italic" href="/Client/LastNIndex"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Zuletzt bearbeitet</a>
                        <a class="nav-link nav-italic" href="/Client/Create"><span style="display:inline-block;width:20px"></span><i class="fa fa-plus-circle" aria-hidden="true"></i>Anlegen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i>Aufenthalte</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/Stay/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-eye" aria-hidden="true"></i>Anzeigen</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Typenverwaltung</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link nav-italic" href="/RoomType/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-hospital-o" aria-hidden="true"></i>Raumtyp</a>                       
                        <a class="nav-link nav-italic" href="/TreatmentType/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-medkit" aria-hidden="true"></i>Behandlungstyp</a>
                        <a class="nav-link nav-italic" href="/ContactType/Index"><span style="display:inline-block;width:20px"></span><i class="fa fa-id-badge" aria-hidden="true"></i>Kontakttyp</a>
                    </li>
                </ul>
            </li>   
        </ul>
    </nav>
</div>