@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!-- Customized exception Handling [HansesM]-->
<h1 class="text-danger">Achtung.</h1>
<h2 class="text-danger">Bei der Bearbeitung Ihrer Anfrage ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.</h2>