/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -moz-transform: scale(0);
    -moz-transition: all 2s linear 0s;
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-transition: all 2s linear 0s;
    height: 300px;
    opacity: 0;
    position: fixed;
    right: -20px;
    top: -90px;
    transform: scale(0);
    transition: all 2s linear 0s;
    width: 140px;
    z-index: 2000;
}

.pace.pace-active {
    -moz-transform: scale(.25);
    -ms-transform: scale(.25);
    -o-transform: scale(.25);
    -webkit-transform: scale(.25);
    opacity: 1;
    transform: scale(.25);
}

.pace .pace-activity {
    -moz-animation: pace-bounce 1s infinite;
    -ms-animation: pace-bounce 1s infinite;
    -o-animation: pace-bounce 1s infinite;
    -webkit-animation: pace-bounce 1s infinite;
    animation: pace-bounce 1s infinite;
    background: #fcd25a;
    border-radius: 70px;
    height: 140px;
    position: absolute;
    top: 0;
    width: 140px;
    z-index: 1911;
}

.pace .pace-progress {
    -moz-animation: pace-compress .5s infinite alternate;
    -moz-transform: scaleY(.3) !important;
    -ms-animation: pace-compress .5s infinite alternate;
    -ms-transform: scaleY(.3) !important;
    -o-animation: pace-compress .5s infinite alternate;
    -o-transform: scaleY(.3) !important;
    -webkit-animation: pace-compress .5s infinite alternate;
    -webkit-transform: scaleY(.3) !important;
    animation: pace-compress .5s infinite alternate;
    background: rgba(20, 20, 20, .1);
    border-radius: 30px/40px;
    bottom: 0;
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
    display: block;
    height: 75px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    transform: scaleY(.3) !important;
    width: 60px;
    z-index: 1910;
}

@-webkit-keyframes pace-bounce {
    0% {
        -webkit-animation-timing-function: ease-in;
        top: 0;
    }

    40% { }

    50% {
        -webkit-animation-timing-function: ease-out;
        height: 140px;
        top: 140px;
    }

    55% {
        -webkit-animation-timing-function: ease-in;
        border-radius: 70px/60px;
        height: 120px;
        top: 160px;
    }

    65% {
        -webkit-animation-timing-function: ease-out;
        border-radius: 70px;
        height: 140px;
        top: 120px;
    }

    95% {
        -webkit-animation-timing-function: ease-in;
        top: 0;
    }

    100% {
        -webkit-animation-timing-function: ease-in;
        top: 0;
    }
}

@-moz-keyframes pace-bounce {
    0% {
        -moz-animation-timing-function: ease-in;
        top: 0;
    }

    40% { }

    50% {
        -moz-animation-timing-function: ease-out;
        height: 140px;
        top: 140px;
    }

    55% {
        -moz-animation-timing-function: ease-in;
        border-radius: 70px/60px;
        height: 120px;
        top: 160px;
    }

    65% {
        -moz-animation-timing-function: ease-out;
        border-radius: 70px;
        height: 140px;
        top: 120px;
    }

    95% {
        -moz-animation-timing-function: ease-in;
        top: 0;
    }

    100% {
        -moz-animation-timing-function: ease-in;
        top: 0;
    }
}

@keyframes pace-bounce {
    0% {
        animation-timing-function: ease-in;
        top: 0;
    }

    50% {
        animation-timing-function: ease-out;
        height: 140px;
        top: 140px;
    }

    55% {
        animation-timing-function: ease-in;
        border-radius: 70px/60px;
        height: 120px;
        top: 160px;
    }

    65% {
        animation-timing-function: ease-out;
        border-radius: 70px;
        height: 140px;
        top: 120px;
    }

    95% {
        animation-timing-function: ease-in;
        top: 0;
    }

    100% {
        animation-timing-function: ease-in;
        top: 0;
    }
}

@-webkit-keyframes pace-compress {
    0% {
        -webkit-animation-timing-function: ease-in;
        background: rgba(20, 20, 20, .1);
        border-radius: 30px/40px;
        bottom: 0;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        height: 75px;
        margin-left: -30px;
        width: 60px;
    }

    100% {
        -webkit-animation-timing-function: ease-out;
        background: rgba(20, 20, 20, .3);
        border-radius: 20px/20px;
        bottom: 30px;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        height: 5px;
        margin-left: -10px;
        width: 20px;
    }
}

@-moz-keyframes pace-compress {
    0% {
        -moz-animation-timing-function: ease-in;
        background: rgba(20, 20, 20, .1);
        border-radius: 30px/40px;
        bottom: 0;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        height: 75px;
        margin-left: -30px;
        width: 60px;
    }

    100% {
        -moz-animation-timing-function: ease-out;
        background: rgba(20, 20, 20, .3);
        border-radius: 20px/20px;
        bottom: 30px;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        height: 5px;
        margin-left: -10px;
        width: 20px;
    }
}

@keyframes pace-compress {
    0% {
        animation-timing-function: ease-in;
        background: rgba(20, 20, 20, .1);
        border-radius: 30px/40px;
        bottom: 0;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        height: 75px;
        margin-left: -30px;
        width: 60px;
    }

    100% {
        animation-timing-function: ease-out;
        background: rgba(20, 20, 20, .3);
        border-radius: 20px/20px;
        bottom: 30px;
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        height: 5px;
        margin-left: -10px;
        width: 20px;
    }
}