
@{
    Layout = null;
}

<!DOCTYPE html>

<!--
This is the AccessDenied View.
It is called when an user who is authenticated tries to call an action he is not athorized for.
[KrabsJ]
-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zugriff verweigert</title>
</head>
<body>
    <h4>Zugriff verweigert</h4>
    <div> 
        Sie haben keine Berechtigung für diese Funktion. <br />
        Falls Sie Zugriff auf diese Funktion benötigen, wenden Sie sich bitte an einen Administrator.
    </div>
</body>
</html>
